body {
    background-color: #221e1d;
    color: #ccc;
    font-family: "Cursive", cursive;
    line-height: 1.5em;
}

h1,body,footer {
    text-align: center;
}

.color-display {
    width: 150px;
    height: 100px;
    margin: 20px auto;
    border: 1px solid #000;
    text-align:center;
}

.copy-button {
    background-color: white;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.alert-msg {
    display: none;
    padding: 10px;
    background-color: black;
    color: white;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    font-size: 14px;
    border-radius: 4px;
    display: none;
}
